

<h1>Listing from Post model</h1>
<table>
  <tr>
    <th>Τίτλος</th>
    <th>Περιεχόμενο</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<% if author_signed_in?%>

<%= link_to 'Νέο παράπονο', new_post_path %>
<% end %>
<%= link_to  'Admin Area', admin_dashboard_path %>
