
<h1>Author Account </h1>
<% if author_signed_in?%>
<%= "Συνδεθήκατε ως:"%>
<%= current_author.email %>
<%= link_to 'Αποσύνδεση', destroy_author_session_path, :method => :delete	%>
<%= link_to "Sign in with Facebook", author_omniauth_authorize_path(:facebook) %>
<% else %>
<%=  link_to 'Εγγραφή', new_author_registration_path  %>
<%= link_to  'Σύνδεση', new_author_session_path%>
<%= link_to "Sign in with Facebook", author_omniauth_authorize_path(:facebook) %>
<% end %>
<h1>Listing from Post model</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to  'Admin Area', admin_dashboard_path %>
