<!DOCTYPE html>
<html>
<head>
  <title>Active Voice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<% if author_signed_in?%>
<%= "Συνδεθήκατε ως:"%>
<%= current_author.email %>
<%= link_to 'Αποσύνδεση', destroy_author_session_path, :method => :delete	%>
<%= link_to "Sign in with Facebook", author_omniauth_authorize_path(:facebook) %>
<% else %>
<%=  link_to 'Εγγραφή', new_author_registration_path  %>
<%= link_to  'Σύνδεση', new_author_session_path%>
<%= link_to "Sign in with Facebook", author_omniauth_authorize_path(:facebook) %>
<% end %>

<%= yield %>

</body>
</html>
